header {
    background-color: #1F2937;
    color: white;
}

body {
    margin: 0px;
}

nav {
    margin-left: 30px;
    margin-right: 40px;
    padding-top: 8px;
    padding-bottom: 76px;

}

ol {
    list-style-type: none;
    margin: 0px;
    gap: 10px;
    color: #F9FAF8;
}

a {
    color: #F9FAF8;
}

.header {
    color: white;
    display: flex;
    align-items: center;
}

.push {
    margin-right: auto;
}


.sec-one-sub-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 65px;
    padding-right: 45px;
    padding-left: 25px;
}

.main-img-placeholder {
    background-color: darkgrey;
    border-radius: 10px;
    height: 200px;
    width: 325px;
}

.sec-two-container {
    padding: 15px;
}

.img-container {
    display: flex;
    justify-content: space-around;
}

.img-title {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;

}

.img-frame {
    border: #3882F6;
    
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

    
}

.box-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-text {
    font-size: 8px;
    color: grey;
    align-items: center;
    padding-left: 65px;
    padding-right: 64px;
}


.sec-three-container {
    background-color: #E5E7EB;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.quote {
    font-size: 36px;
    display: flex;
    font-style: italic;
    color: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
    
}

.quote2 {
    text-align: end;
    display: flex;
    font-weight: bold;
    padding-right: 50px;
    
}

.main-text {
    font-size: 48px;
    font-style: bold;
    color: #F9FAF8;
    padding-left: 40px;
}

.main-subtext{
    font-size: 10px;
    color: #F9FAF8;
    padding-left: 40px;
    padding-right: 30px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

#bottom {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    margin: 25px;
    flex-wrap: wrap;
    
    
    
}

.bottom-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button-one {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-left: 40px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    
}

.button-two {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    
}


.small-font {
    font-size: 10px;
    
}